<h1>Edit athlete</h1>
<table class="table">
    <thead>
        <tr>
            <th>name</th>
            <th>country</th>
            <th>year</th>
            <th>salary</th>
            <th>advertisingContracts</th>
            <th>total</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{updatedAthlete.name}}</td>
            <td><input class="form-control" ng-model="updatedAthlete.country" /></td>
            <td>{{updatedAthlete.year}}</td>
            <td><input class="form-control" ng-model="updatedAthlete.salary" /></td>
            <td><input class="form-control" ng-model="updatedAthlete.advertisingContracts" /></td>
            <td><input class="form-control" ng-model="updatedAthlete.total" /></td>
            <td><button class="button btn-primary" ng-click="updateAthlete()">
                Update
            </button></td>
        </tr>
    </tbody>
</table>
<hr/>
<h8><i>{{status}}</i></h8>
